@media (max-width: 670px) {
    body {
        height: 100%;
    }

    header {
        margin-bottom: 30px;
    }

    main {
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .menu{
        margin-top: 30px;
    }
    .menu-hamburguer {
        width: 30px;
        height: 2px;
        background-color: var(--letter);
        position: relative;
        transition: 0.4s ease-in-out;
    }

    .menu-hamburguer::after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: var(--letter);
        position: absolute;
        top: 10px;
        transition: 0.4s ease-in-out;

    }

    .menu-hamburguer::before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: var(--letter);
        position: absolute;
        bottom: 10px;
        transition: 0.4s ease-in-out;
    }

    input:checked~.menu label .menu-hamburguer {
        transform: rotate(45deg);
        transition: 0.4s ease-in-out;
    }

    input:checked~.menu label .menu-hamburguer::after {
        transform: rotate(90deg);
        top: 0px;
        transition: 0.4s ease-in-out;
    }

    input:checked~.menu label .menu-hamburguer::before {
        transform: rotate(90deg);
        bottom: 0px;
        transition: 0.4s ease-in-out;
    }
    
    main section {
        width: 100%;
        height: 100%;
    }

    .logo {
        border: none;
    }
    .pdfHeader{
        flex-direction: column;
        gap: 20px;
    }
    .closeBtn{
        background-color: var(--letter);
        color: #474747;
    }
    .projectsList{
        align-items: center;
        justify-content: center;
        
    }
    .cardProject{
        border: 2px solid var(--letter);
    }
    .pdfActions{
        flex-direction: column;
    }
    .options {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    padding: 40px;
    width: 100%;

    background-color: #474747;
    /* background: linear-gradient(180deg,rgba(71, 71, 71, 0.877) 0%, rgba(48, 40, 40, 1) 50%, rgba(5, 16, 18, 1) 100%); */
    border-bottom: 3px solid var(--letter);

    transition: 
        opacity 0.4s ease,
        transform 0.4s ease,
        visibility 0.4s;
}


input:checked ~ .options {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}


    .profile {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .profile img {
        width: 180px;
        height: 180px;
    }

    .description {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .description h1 {
        font-size: 24px;
        width: 280px;
        align-items: center;
        text-align: center;
    }

    .socialNetwork {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

#menu {
    display: none;
}